<div class="panel-body" ng-hide="isCollapsed">
    <form class="form-inline" role="form">
        <div class="form-group" tooltip="{{ advancedFilterActive ? 'panelbody.search.tooltip' : '' | messageFilter }}">
            <label for="buscar">Buscar:</label>
            <input class="form-control" type="text" id="buscar" ng-model="genericSearchFilter"
                   ng-disabled="advancedFilterActive" itv-enterkey="doGenericFilter()" itv-blur="doGenericFilter()">
        </div>
        <div class="form-group">
            <button class="btn btn-default btn-sm form-control" ng-hide="advancedFilterActive" ng-click="doGenericFilter()">
                <i class="fa fa-filter fa-lg"></i>
            </button>
            <button class="btn btn-default btn-sm form-control" ng-show="advancedFilterActive" ng-click="clearAdvancedFilter()">
                <i class="fa fa-times fa-lg"></i>
            </button>
        </div>
        <div class="form-group dropdown rightFloater options-btn">
            <button class="btn btn-default btn-sm dropdown-toggle form-control rightFloater">
                <i class="fa fa-cog fa-lg"></i>
                <i class="fa fa-sort-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="clickable menuItem" ng-click="setInsertMode()"><i class="fa fa-plus fa-lg"></i> <span>Nuevo Registro</span></li>
                <li class="clickable menuItem" ng-click="openHideColumnModal()"><i class="fa fa-columns fa-lg"></i> <span>Ocultar Columnas</span></li>
                <li class="clickable menuItem" ng-click="openAdvancedFilterModal()"><i class="fa fa-filter fa-lg"></i> <span>Filtrar Columnas</span></li>
            </ul>
        </div>
        <div class="form-group rightFloater">
            <label for="itemsPorPagina">Filas por p&aacute;gina: </label>
            <select class="form-control" id="itemsPorPagina" ng-model="itemsPorPagina">
                <option>10</option>
                <option>25</option>
                <option>50</option>
            </select>
        </div>
    </form>
</div>