<div class="panel-footer itvFade">
    <div class="leftFloater" itv-message="panelfooter.number.items" itv-message-param="{{ firstLastTotalObj }}">
    </div>
    <div class="rightFloater">
        <pagination boundary-links="true" total-items="itemsTotales" page="pagina" items-per-page="itemsPorPagina" class="pagination-sm" max-size="5" rotate="false"
                    on-select-page="cambioPagina(page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
    <div class="clearBoth"></div>
</div>